<!DOCTYPE html>
<html>
  <head>
    <%include partials/head.ejs%>
    <title>Book Shop</title>
  </head>
  <body>
    <%include partials/loginNav.ejs%>
    <%include partials/bookDisplay.ejs%>
    <%include partials/scripts.ejs%>
  </body>
</html>
